    <h2><a name="attributes"></a>Attributes</h2>
    
    <% if ctx.has_attributes? %>
    <table class="members attributes">
      <thead>
        <tr>
          <th class="namehead">Name</th>
          <th>Visibility</th>
          <th>R/W</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% ctx.attributes.each_with_index{|attribute,i| %>
        <tr class="<%= stripe_class i %> <%=h attribute[:visibility].to_s %>">
          <td class="name"><%=h attribute[:name] %></td>
          <td class="visiblity"><%=h attribute[:visibility].to_s %></td>
          <td class="rw"><%=h attribute[:rw] %></td>
          <td class="description"><%= attribute[:description] %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
    <% end %>
