      <h4 class="method_detail"><a name="<%=h method[:anchor] %>"></a>
        <% if method[:callseq] %>
          <span class="name"><%= method[:callseq] %></span>
        <% else %>
          <span class="name"><%= h(method[:name]) %></span><span class="args"><%= method[:params] %></span>
        <% end %>
      </h4>
      <div class="method_description">
        <%= method[:description] %>
      </div>